<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">
        <div class="row mt-3" style="align-content: center; text-align: center">
            <div class="col">
                <h2><%= release_name %></h2>
                <h3><%= release_artist %></h3>
                <img src="<%= release_artwork %>" class="img-thumbnail art" alt="coverart" height="25%" width="25%" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <div class="row">
                    <h5 class="col-md-7 ml-5 text-left">
                        Release Type:
                    </h5>
                    <h5 class="col text-left">
                        <%= release_type %>
                    </h5>
                </div>
                <div class="row">
                    <h5 class="col-md-7 ml-5 text-left">
                        Release Date:
                    </h5>
                    <h5 class="col text-left">
                        <%= release_date %>
                    </h5>
                </div>
                <div class="row">
                    <h5 class="col-md-7 ml-5 text-left">
                        Length:
                    </h5>
                    <h5 class="col text-left">
                        <%= release_length %>
                    </h5>
                </div>
                <div class="row">
                    <h5 class="col-md-7 ml-5 text-left">
                        Label:
                    </h5>
                    <h5 class="col text-left">
                        <%= release_label %>
                    </h5>
                </div>
                <div class="row">
                    <h5 class="col-md-7 ml-5 text-left">
                        Format(s):
                    </h5>
                    <h5 class="col text-left">
                        <%= release_formats %>
                    </h5>
                </div>
                <div class="row">
                    <h5 class="col-md-7 ml-5 text-left">
                        Genre:
                    </h5>
                    <h5 class="col text-left">
                        <%= release_genres %>
                    </h5>
                </div>
                <div class="row">
                    <h5 class="col-md-7 ml-5 text-left">
                        User Rating:
                    </h5>
                    <h5 class="col text-left">
                        <%= release_rating %> / 5.0
                    </h5>
                </div>
            </div>
            <p class="col-md-6">
                <%= release_desc %>
            </p>
        </div>
        <div class="row ml-5 mt-3">

        </div>

        <div id="accordion" class="ml-5">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="col btn btn-link collapsed text-left text-dark" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <h4>Tracklist</h4>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <% tracks.forEach(function(track) { %>
                        <div class="row ml-5">
                            <h5 class="col-md-2 text-center">
                                <%= track.tIndex %>
                            </h5>
                            <h5 class="col-md-6 text-left">
                                <%= track.trkNam %>
                            </h5>
                            <h5 class="col-md-2 text-right">
                                <%= track.trkLen %>
                            </h5>
                            <div class="col-md-2"></div>
                        </div>
                        <% }); %>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="col btn btn-link collapsed text-left text-dark" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4>Shopping</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Catalogue Number</th>
                                    <th scope="col">Release Type</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% items.forEach(function(item) { %>
                                <tr>
                                    <th scope="row"><%= item.catNum %> </th>
                                    <td><%= item.format %></td>
                                    <td>£<%= item.price %></td>
                                    <td class="">
                                        <a href="#" class="btn btn-success btn-sm ml-5" role="button">
                                            <img class="align-middle" style="height: 18px; width: 18px;"
                                                src="/images/shopping-cart.svg" />
                                            Add to Cart
                                        </a>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="col btn btn-link collapsed text-left text-dark" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4>Reviews</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">

                        <% comments.forEach(function(comment) { %>
                        <div class="panel panel-default mt-3">
                            <div class="panel-heading">
                                <strong><%= comment.uID %></strong>
                                <% for (var i = 0; i < comment.rating; i++) { %>
                                <span class=""><img src="images/star-checked.svg" /></span>
                                <% } %>
                                <% for (var i = 0; i < (5 - comment.rating); i++) { %>
                                <span class=""><img src="images/star.svg" /></span>
                                <% } %>
                                <span class="text-muted ml-2"><%= comment.date %> </span>
                            </div>
                            <div class="panel-body">
                                <%= comment.comment %>
                            </div>
                        </div>
                        <% }); if(!Array.isArray(comments) || !comments.length) { %>
                        <h1>There is no comment</h1>
                        <% } %>
                        <div id="cli" class="jumbotron mt-3 pt-3 pb-2 pl-4 pr-4 border">
                            <form>
                                <div class="form-group">
                                    <label for="user_comment">Post your own comment:</label>
                                    <span class="ml-2"><img src="images/star-checked.svg" /></span>
                                    <span class=""><img src="images/star-checked.svg" /></span>
                                    <span class=""><img src="images/star-checked.svg" /></span>
                                    <span class=""><img src="images/star.svg" /></span>
                                    <span class=""><img src="images/star.svg" /></span>
                                    <textarea class="form-control" id="user_comment" rows="5"></textarea>
                                    <button type="submit" class="btn btn-dark mt-2">Post Comment</button>
                                </div>
                            </form>
                        </div>
                        <div id="clo" class="jumbotron mt-3 pt-3 pb-2 pl-4 pr-4 border">
                                <div class="form-group">
                                    You are not logged in. <a href="/Login" style="color:silver;">Log in</a> to leave a comment.
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>