<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container ">

        <div class="row">
            <nav class="nav flex-column col-sm-2 mt-4">
                <div class="row ml-1">
                    <h5 class="nav-link pb-0 mb-1">Genre</h5>
                </div>
                <% var i; for (i = 0; i < 3; ++i) { %>
                <a href="<%= discover_wo_genre %>&genre=<%= i %>" class="row ml-4 mt-0 bt-0 text-left"><%= genres[i] %></a>
                <% }; %>
                <div class="dropdown ml-4 mt-0 bt-0">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="color:#007bff ;">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <% var i; for (i = 3; i < genres.length; ++i) { %>
                        <a href="<%= discover_wo_genre %>&genre=<%= i %>" class="row ml-4 mt-0 bt-0 text-left"><%= genres[i] %></a>
                        <% }; %>
                    </div>
                </div>
                <div class="row ml-1">
                    <h5 class="nav-link pb-0 mb-1">Format</h5>
                </div>
                <% var i; for (i = 0; i < 3; ++i) { %>
                <a href="<%= discover_wo_format %>&format=<%= i %>" class="row ml-4 mt-0 bt-0 text-left" ><%= formats[i] %></a>
                <% }; %>
                <!-- <a href="#" class="row ml-4 mt-0 bt-0 text-left">Vinyl</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">Album</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">CD</a> -->
                <div class="dropdown ml-4 mt-0 bt-0">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="color:#007bff ;">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <% var i; for (i = 3; i < formats.length; ++i) { %>
                        <a href="<%= discover_wo_format %>&format=<%= i %>" class="row ml-4 mt-0 bt-0 text-left"><%= formats[i] %></a>
                        <% }; %>
                    </div>
                </div>
                <div class="row ml-1">
                    <h5 class="nav-link pb-0 mb-1">Decade</h5>
                </div>
                <a href="<%= discover_wo_decade %>&decade=2010" class="row ml-4 mt-0 bt-0 text-left">2010</a>
                <a href="<%= discover_wo_decade %>&decade=2000" class="row ml-4 mt-0 bt-0 text-left">2000</a>
                <a href="<%= discover_wo_decade %>&decade=1990" class="row ml-4 mt-0 bt-0 text-left">1990</a>
                <div class="dropdown ml-4 mt-0 bt-0">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="color:#007bff ;">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="<%= discover_wo_decade %>&decade=1980" class="row ml-4 mt-0 bt-0 text-left">1980</a>
                        <a href="<%= discover_wo_decade %>&decade=1970" class="row ml-4 mt-0 bt-0 text-left">1970</a>
                        <a href="<%= discover_wo_decade %>&decade=1960" class="row ml-4 mt-0 bt-0 text-left">1960</a>
                        <a href="<%= discover_wo_decade %>&decade=1950" class="row ml-4 mt-0 bt-0 text-left">1950</a>
                        <a href="<%= discover_wo_decade %>&decade=older" class="row ml-4 mt-0 bt-0 text-left">Older</a>
                    </div>
                </div>
            </nav>
            <div class="col">
                <div class="row justify-content-start ml-1 align-items-center">
                    <h6 class="pt-2">Sort By:</h6>
                    <div class="dropdown ml-4 border pl-1 pr-1">
                        <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="color:#007bff ;">
                            Hottest
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a href="<%= discover_wo_sort %>&sort=1" class="row ml-4 mt-0 bt-0 text-left">Hottest</a>
                            <a href="<%= discover_wo_sort %>&sort=2" class="row ml-4 mt-0 bt-0 text-left">Most Popular</a>
                            <a href="<%= discover_wo_sort %>&sort=3" class="row ml-4 mt-0 bt-0 text-left">Title, A-Z </a>
                            <a href="<%= discover_wo_sort %>&sort=4" class="row ml-4 mt-0 bt-0 text-left">Title, Z-A</a>
                        </div>
                    </div>
                    <h6 class="pt-2 ml-5">Browsing:<%= browsing_str %></h6>
                </div>
                <div class="row">
                    <% if(releases.length == 0) { %>
                    <h6>Unfortunately there aren't any results...</h6>
                    <% }; %>
                    <% releases.forEach(function(release) { %>
                    <div class="col-md-2 card border-0 dis-border">
                        <a class="" href="/Album?id=<%=release.id%>">
                            <img class="card-img-top dis-cover" src="<%= release.coverpath %>" alt="Album Image">
                        </a>
                        <div class="card-body p-1 ">
                            <div class="noverflow">
                                <a class="" href="/Album?id=<%=release.id%>"><small><b><%= release.name %></b></small>
                                </a>

                            </div>
                            <div class="noverflow">
                                <a class=""
                                    href="/Album?id=<%=release.id%>"><small><small><%= release.artist %></small></small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>